<app-header2 title="Cloud Native + Open Source Virtual Summit 2020" subTitle="华为云展厅" logo="/assets/image/huawei.png"
            banner="/assets/image/banner1.png" detail="2020.07.30 - 2020.08.01"
>
</app-header2>
<div class="promote-project-scope">
  <app-promote-project routerLink="/projects/KubeEdge">
  </app-promote-project>
  <app-promote-project-reverse routerLink="/projects/Volcano">
  </app-promote-project-reverse>
</div>
<div class="normal-project-scope">
  <app-normal-project routerLink="/projects/MindSpore" logo="/assets/image/MindSpore.png" logoWidth="104px" title="MindSpore" detail="端边云全场景AI训练与推理框架" figure="/assets/image/booth_icon1.png"></app-normal-project>
  <app-normal-project routerLink="/projects/OpenEuler" logo="/assets/image/openEuler.png" logoWidth="104px" title="openEuler" detail="openEuler是一个开源、免费的Linux发行版平台，将通过开放的社区形式与全球的开发者共同构建一个开放、多元和架构包容的软件生态体系" figure="/assets/image/booth_icon2.png"></app-normal-project>
  <app-normal-project routerLink="/projects/openGauss" logo="/assets/image/openGauss_logo_1colour.png" logoWidth="104px" title="openGauss" detail="把企业级数据库能力带给用户" figure="/assets/image/booth_icon2.png"></app-normal-project>
  <app-normal-project routerLink="/projects/SODA" logo="/assets/image/SODA_logo_outline_c.png" logoWidth="104px" title="SODA" detail="开放智能的数据自治管理平台" figure="/assets/image/booth_icon1.png"></app-normal-project>
  <app-normal-project routerLink="/projects/ServiceComb" logo="/assets/image/servicecomb-logo.png" logoWidth="104px" title="ServiceComb" detail="一站式微服务解决方案" figure="/assets/image/booth_icon2.png"></app-normal-project>
  <app-normal-project (click)="goToLink('https://openlookeng.io/zh-cn/')" logo="/assets/image/openLooKeng-logo.png" logoWidth="104px" title="openLooKeng" detail="面向大数据库的数据虚拟化引擎" figure="/assets/image/booth_icon2.png"></app-normal-project>
</div>
<div class="calendar-scope">
  <app-calendar-list [calendars]="calendars"></app-calendar-list>
</div>
<app-fix-nav></app-fix-nav>
