.course {
  width: 340px;
  height: 310px;
  background: #FFFFFF;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  border-radius: 4px;
  .figure {
    height: 184px;
  }
  .detail {
    padding: 20px;
  }
}
