.course {
  width: 340px;
  height: 310px;
  background: #FFFFFF;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 20px;
  .figure {
    height: 184px;
  }
  .detail {
    padding: 20px;
  }
  a .detail {
    color: #000000;
  }

}
