<div class="calendar-list">
  <div class="title">
    日程安排
  </div>
  <div class="example">
    <div class="example-item">
      <span class="color-block">&nbsp;</span>
      直播间1
    </div>
    <div class="example-item">
      <span class="color-block" style="background-color: #B6C7F6">&nbsp;</span>
      直播间2
    </div>
    <div class="example-item">
      <span class="color-block" style="background-color: #B2E4E7">&nbsp;</span>
      直播间3
    </div>
    <div class="example-item">
      <span class="color-block" style="background-color: #F8DEA3">&nbsp;</span>
      直播间4
    </div>
  </div>
  <app-calendar *ngFor="let calendar of calendars" [calendar]="calendar">
  </app-calendar>
</div>
