<div class="calendar-list">
  <div class="title">
    日程安排
  </div>
  <div class="example">
    <div class="example-item">
      <span class="color-block">&nbsp;</span>
     类型1
    </div>
    <div class="example-item">
      <span class="color-block" style="background-color: #B6C7F6">&nbsp;</span>
      类型2
    </div>
    <div class="example-item">
      <span class="color-block" style="background-color: #B2E4E7">&nbsp;</span>
      类型3
    </div>
    <div class="example-item">
      <span class="color-block" style="background-color: #F8DEA3">&nbsp;</span>
      类型4
    </div>
  </div>
  <app-calendar>
  </app-calendar>
  <app-calendar>
  </app-calendar>
  <app-calendar>
  </app-calendar>
</div>
