<div class="promote-project">
  <div class="project-logo">
    <img src="/assets/image/volcano-horizontal-color.png" style="width: 374px;margin-top:88px;"/>
  </div>
  <div class="desc">
    <div class="title">
      Volcano
    </div>
    <div class="detail">
      Volcano 是 CNCF 首个基于 Kubernetes 的容器批量计算项目，适用于大数据、AI、科学计算等多种高性能计算场景
    </div>
    <div class="features">
      <div class="feature" style="width: 120px;">
        <div class="feature-logo">
          <img src="/assets/image/p_feature1.png" />
        </div>
        <div class="feature-text">
          原生K8s支持
        </div>
      </div>
      <div class="feature" style="width: 120px;">
        <div class="feature-logo">
          <img src="/assets/image/p_feature2.png" />

        </div>
        <div class="feature-text">
          多元算力
        </div>
      </div>
      <div class="feature" style="width: 120px;">
        <div class="feature-logo">
          <img src="/assets/image/p_feature.png" />

        </div>
        <div class="feature-text">
          丰富的计算框架
        </div>
      </div>
      <div class="feature" style="width: 120px;">
        <div class="feature-logo">
          <img src="/assets/image/p_feature3.png" />
        </div>
        <div class="feature-text">
          批量作业调度
        </div>
      </div>
    </div>
    <div class="actions">
      <button mat-flat-button color="primary">查看更多 -></button>
    </div>
  </div>
</div>
