<div class="promote-project">
  <div class="project-logo">
    <img src="/assets/image/kubeedge-horizontal-color.png" style="width: 374px;margin-top:58px;"/>
  </div>
  <div class="desc">
    <div class="title">
      KubeEdge
    </div>
    <div class="detail">
      云原生边缘计算框架
    </div>
    <div class="features">
      <div class="feature" style="width: 120px;">
        <div class="feature-logo">

        </div>
        <div class="feature-text">
          云边协同
        </div>
      </div>
      <div class="feature" style="width: 120px;">
        <div class="feature-logo">

        </div>
        <div class="feature-text">
          边缘自治
        </div>
      </div>
      <div class="feature" style="width: 120px;">
        <div class="feature-logo">

        </div>
        <div class="feature-text">
          设备管理
        </div>
      </div>
      <div class="feature" style="width: 120px;">
        <div class="feature-logo">

        </div>
        <div class="feature-text">
          极致轻量
        </div>
      </div>
    </div>
    <div class="actions">
      <button mat-flat-button color="primary">查看更多 -></button>
    </div>
  </div>
</div>
