.normal-project {
  width: 333px;
  height: 600px;
  cursor: pointer;
  .banner {
    height: 165px;
    width: 242px;
    opacity: 0.59;
    background-image: linear-gradient(0deg, #FFFFFF 0%, #B4E2FF 100%);
    border-radius: 4px;
    border-radius: 4px;
    font-family: FZLTCHJW--GB1-0;
    font-size: 23px;
    text-align: center;
    margin: 0 auto;
    padding-top: 35px;
    opacity: 1;
    img {
    }
  }
  .figure {
    margin-top: -20px;
    height: 80px;
    text-align: center;
    img {
      width: 160px;
    }
  }
  .title {
    margin-top: 50px;
    font-family: FZLTCHJW--GB1-0;
    font-size: 20px;
    color: #252B3A;
    text-align: center;
    height: 24px;
    line-height: 24px;
    text-align: center;
  }
  .detail {
    margin-top: 22px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #666666;
    text-align: center;
    line-height: 28px;


  }

}
